<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Hosgwarts School Hostel</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link rel="icon" href="{% static 'admin_static/index/images/favicon.ico' %}" type="image/ico" />
  <link href="{% static 'homescreen/assets/img/apple-touch-icon.png'%}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'homescreen/assets/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
  <link href="{% static 'homescreen/assets/vendor/icofont/icofont.min.css'%}" rel="stylesheet">
  <link href="{% static 'homescreen/assets/vendor/boxicons/css/boxicons.min.css'%}" rel="stylesheet">
  <link href="{% static 'homescreen/assets/vendor/venobox/venobox.css'%}" rel="stylesheet">
  <link href="{% static 'homescreen/assets/vendor/owl.carousel/assets/owl.carousel.min.css'%}" rel="stylesheet">
  <link href="{% static 'homescreen/assets/vendor/aos/aos.css'%}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'homescreen/assets/css/style.css'%}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Squadfree - v2.3.1
  * Template URL: https://bootstrapmade.com/squadfree-free-bootstrap-template-creative/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top header-transparent">
    <div class="container d-flex align-items-center">

      <div class="logo mr-auto">
        <h1 class="text-light"><a href="index.html"><span>Hostel Management</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>

          <li><a href="index.html">Home</a></li>
          <li><a href="#about">About Us</a></li>
          <li><a href="#services">Services</a></li>
          <li class="drop-down"><a href="">Drop Down</a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="drop-down"><a href="#">Drop Down 2</a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
              <li><a href="#">Drop Down 5</a></li>
            </ul>
          </li>
          <li><a href="#contact">Contact Us</a></li>
          <li class="active"><a href="{% url 'student_login' %}">Login</a></li>
          <li class="active"><a href="{% url 'register' %}">Register</a></li>

        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container" data-aos="fade-up">
      <h1>HOGWARTS SCHOOL OF WITCHCRAFT & WIZARDRY HOSTEL</h1>
      <h2>Home Away From Home.</h2>
      <a href="#about" class="btn-get-started scrollto"><i class="bx bx-chevrons-down"></i></a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row no-gutters">
          <div class="content col-xl-5 d-flex align-items-stretch" data-aos="fade-up">
            <div class="content">
              <h3>Hogwarts</h3>
              <p>
                The Hogwarts Mens Hostel, established in 2005 , is located within the College campus and is an integral
                part of the College.



                Hogwarts Mens’ Hostel aims to provide convenient and comfortable stay for the outstation male students.
              </p>
              <a href="#" class="about-btn">About us <i class="bx bx-chevron-right"></i></a>
            </div>
          </div>
          <div class="col-xl-7 d-flex align-items-stretch">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                  <i class="bx bx-receipt"></i>
                  <h4>Governance of Hogwarts</h4>
                  <p>The hostel affairs are co-ordinated under the guidance and supervision of the resident Warden.
                    The warden is assisted by hostel students’ union. The hostel committee under the chairmanship of the
                    Principal, the college management frames the rules and regulations of the hostel and is the final
                    authority in matters concerning the hostel.</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                  <i class="bx bx-cube-alt"></i>
                  <h4>Hostel In-charge</h4>
                  <p>Warden: ALBUS DUMBLEDORE</p><br>
                  <p>Asst. Warden: SEVERUS SNAPE</p><br>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                  <i class="bx bx-images"></i>
                  <h4>Objective</h4>
                  <p>Our primary objective is to provide a comfortable stay to the outstation students of our college
                    and make it feel like home for them.</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                  <i class="bx bx-shield"></i>
                  <h4>Timings</h4>
                  <p>The students are expected to enter hostel before 6:30pm and any violation of rules can lead to
                    serious actions.</p>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title" data-aos="fade-in" data-aos-delay="100">
          <h2>Services</h2>
          <p>We always make sure we provide the best services to the students</p>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4 class="title"><a href="">Extracurricular Activities</a></h4>
              <p class="description">The students of hostel has an exposure for Extracurricular Activities.<br> There is
                an indoor Badminton Court inside the hostel and game sessions are held regularly to have a jubiliant
                atmosphere in the hostel. </p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4 class="title"><a href="">Admission</a></h4>
              <p class="description">The admission for the Academic year 2021-22 has begun and will be closed soon.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4 class="title"><a href="">Rules and Regulations</a></h4>
              <p class="description">The hostel management is strict with its rules and students are requested to read
                and have an understanding about the same.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
              <div class="icon"><i class="bx bx-world"></i></div>
              <h4 class="title"><a href="">Food Menu</a></h4>
              <p class="description">Good Food & Great Vibes</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts  section-bg">
      <div class="container">

        <div class="row no-gutters">

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
              <i class="icofont-simple-smile"></i>
              <span data-toggle="counter-up">85</span>
              <p><strong>Rooms</strong><br> Well Maintained Rooms</p>
            </div>
          </div>


          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
              <i class="icofont-users-alt-5"></i>

              <span data-toggle="counter-up">170</span>
              <p><strong>Student Capacity</strong><br> Hostel has rooms enough to accomodate 170 students</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
              <i class="icofont-document-folder"></i>
              <span data-toggle="counter-up">3</span>
              <p><strong>Scholarships</strong><br> Hostel scholarships worth 5000 for curricular and non-curricular
                activities</p>
            </div>
          </div>


          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
              <i class="icofont-live-support"></i>

              <span data-toggle="counter-up">15</span>
              <p><strong>Staffs</strong> <br>For Hostel management</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">

        <div class="text-center">
          <h3>Call To Action</h3>
          <p> <strong>24*7 helpline number is availabe. Call us for detailed information</strong></p>
          <a class="cta-btn" href="#contact">Call To Action</a>
        </div>

      </div>
    </section><!-- End Cta Section -->


    <!-- ======= Testimonials Section ======= -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container">

        <div class="section-title" data-aos="fade-in" data-aos-delay="100">
          <h2>Team</h2>
          <p>The team of Hogwarts makes sure that it feel like home for the students.</p>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="member" data-aos="fade-up">
              <div class="pic"><img src="{% static 'homescreen/assets/img/team/dumbledore.jpg'%}" class="img-fluid"
                  alt=""></div>
              <div class="member-info">
                <h4>Albus Dumbledore</h4>
                <span>Warden</span>
                <div class="social">
                  <a href="https://twitter.com/quotedumbledore"><i class="icofont-twitter"></i></a>
                  <a href="https://www.facebook.com/Albus-Dumbledore-106473427697932/?ti=as"><i
                      class="icofont-facebook"></i></a>
                  <a href="https://instagram.com/albusdumbledore?igshid=1twtmjx6wlsdn"><i
                      class="icofont-instagram"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="member" data-aos="fade-up" data-aos-delay="150">
              <div class="pic"><img src="{% static 'homescreen/assets/img/team/snape.jpg'%}" class="img-fluid" alt="">
              </div>
              <div class="member-info">
                <h4>Severus Snape</h4>
                <span>Teacher</span>
                <div class="social">
                  <a href="https://twitter.com/Pr0fessor_Snape"><i class="icofont-twitter"></i></a>
                  <a href="https://www.facebook.com/SeverusSnapecom/"><i class="icofont-facebook"></i></a>
                  <a href="https://www.instagram.com/snape_alanrickman/?igshid=cy46ue2i8dg3"><i
                      class="icofont-instagram"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="member" data-aos="fade-up" data-aos-delay="150">
              <div class="pic"><img src="{% static 'homescreen/assets/img/team/argus.jpg'%}" class="img-fluid" alt="">
              </div>
              <div class="member-info">
                <h4>Argus Filch</h4>
                <span>Asst Warden</span>

              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-in" data-aos-delay="100">
          <h2>Contact</h2>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-6">
            <div class="info-box mb-4">
              <i class="bx bx-map"></i>
              <h3>Our Address</h3>
              <p>Hogwarts Castle</p><br>
              <p>Orlando, FL 32819, United States</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bx-envelope"></i>
              <h3>Email Us</h3>
              <p>hogwartsschool@gmail.com</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bx-phone-call"></i>
              <h3>Call Us</h3><br>
              <h4>Albus Dumbledore</h4>
              <p>+91 7356940260</p>
            </div>
          </div>

        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-6 ">
            <iframe class="mb-4 mb-lg-0" src="https://goo.gl/maps/tpitMkiXZaS5RSbt5" frameborder="0"
              style="border:0; width: 100%; height: 384px;" allowfullscreen></iframe>
          </div>

          <div class="col-lg-6">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="form-row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"
                    data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>
                <div class="col-md-6 form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email"
                    data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject"
                  data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required"
                  data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="footer-info" data-aos="fade-up" data-aos-delay="50">
              <h3>Hogwarts Castle</h3>
              <p class="pb-3"><em>Hogwarts School of Witchcraft and Wizardry</em></p>
              <p>
                Hogwarts Castle<br>
                Orlando, FL 32819, United States<br><br>
                <strong>Phone:</strong> +91 7356940260<br>
                <strong>Email:</strong> hogwartsschool@gmail.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links" data-aos="fade-up" data-aos-delay="150">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-md-6 footer-links" data-aos="fade-up" data-aos-delay="250">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div>



        </div>
      </div>
    </div>

    <div class="container">


    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'homescreen/assets/vendor/jquery/jquery.min.js'%}"></script>
  <script src="{% static 'homescreen/assets/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
  <script src="{% static 'homescreen/assets/vendor/jquery.easing/jquery.easing.min.js'%}"></script>
  <script src="{% static 'homescreen/assets/vendor/php-email-form/validate.js'%}"></script>
  <script src="{% static 'homescreen/assets/vendor/waypoints/jquery.waypoints.min.js'%}"></script>
  <script src="{% static 'homescreen/assets/vendor/counterup/counterup.min.js'%}"></script>
  <script src="{% static 'homescreen/assets/vendor/isotope-layout/isotope.pkgd.min.js'%}"></script>
  <script src="{% static 'homescreen/assets/vendor/venobox/venobox.min.js'%}"></script>
  <script src="{% static 'homescreen/assets/vendor/owl.carousel/owl.carousel.min.js'%}"></script>
  <script src="{% static 'homescreen/assets/vendor/aos/aos.js'%}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'homescreen/assets/js/main.js'%}"></script>

</body>

</html>