<!DOCTYPE html>
{% load static %}
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Register your account here..</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel="stylesheet" href="{%  static 'register/style.css' %}">
</head>
<body>
<!-- partial:index.partial.html -->
<!-- multistep form -->
<form id="msform" method="POST">
    {% csrf_token %}
  <!-- progressbar -->
{#  <ul id="progressbar">#}
{#    <li class="active">Account Setup</li>#}
{#    <li>Personal Details</li>#}
{#    <li>Course Details</li>#}
{#    #}
{#  </ul>#}
  <!-- fieldsets -->
  <fieldset>
    <h2 class="fs-title">Login</h2>
    <span id="sp1" style="color: red;font-size: 15px;"></span>
    <input type="email" id="email" name="email" onkeypress="clearspan('sp1')" placeholder="Email" />
    <span id="sp2" style="color: red;font-size: 15px;"></span>
    <input type="password" id="fpass" name="password" onkeypress="clearspan('sp2')" placeholder="Password" />
     <span id="sp3" style="color: red;font-size: 15px;"></span>
    <input type="password" id="cpass" onkeypress="clearspan('sp3')" placeholder="Confirm Password" />
    <input type="submit" name="submit" value="Submit" />
  </fieldset>
</form>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js'></script><script  src="{% static 'register/script.js' %}"></script>

</body>
</html>
