{% extends 'admin_templates/index.html' %}

{% load static %}

{% block content %}
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Student Validation</h3>
            </div>

            <!-- <div class="title_right">
                            <div class="col-md-5 col-sm-5 form-group pull-right top_search">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search for...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button">Go!</button>
                                    </span>
                                </div>
                            </div>
                        </div> -->
        </div>
        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Student validation by College records</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <form class="" action="" method="post" novalidate>
                            {% csrf_token %}
                            <span class="section">Personal Info</span>
                            <div class="field item form-group">
                                <label class="col-form-label col-md-3 col-sm-3  label-align">Name<span
                                        class="required">*</span></label>
                                <div class="col-md-6 col-sm-6">
                                    <input class="form-control" data-validate-length-range="6" data-validate-words="2"
                                        name="sd_name" value="{{ obj.sd_name }}" required="required" />
                                </div>
                            </div>
                            <div class="field item form-group">
                                <label class="col-form-label col-md-3 col-sm-3  label-align">Course<span
                                        class="required">*</span></label>
                                <div class="col-md-6 col-sm-6">
                                    <input class="form-control" class='optional' name="sd_course"
                                        value="{{ obj.sd_course }}" data-validate-length-range="5,15" type="text" />
                                </div>
                            </div>

                            <div class="field item form-group">
                                <label class="col-form-label col-md-3 col-sm-3  label-align">Admission Number <span
                                        class="required">*</span></label>
                                <div class="col-md-6 col-sm-6">
                                    <input class="form-control" type="number" class='number' name="sd_admno"
                                        data-validate-length-range="0,8" value="{{ obj.sd_admno }}" required='required'>
                                </div>
                            </div>

                            <div class="field item form-group">
                                <label class="col-form-label col-md-3 col-sm-3  label-align">Year<span
                                        class="required">*</span></label>
                                <div class="col-md-6 col-sm-6">
                                    <input class="form-control" data-validate-length-range="4" name="sd_year"
                                        value="{{ obj.sd_year}}" required="required" />
                                </div>
                            </div>



                            <div class="field item form-group">
                                <label class="col-form-label col-md-3 col-sm-3  label-align">email<span
                                        class="required">*</span></label>
                                <div class="col-md-6 col-sm-6">
                                    <input class="form-control" name="sd_email" class='email' required="required"
                                        value="{{ obj.sd_email }}" type="email" />
                                </div>
                            </div>

                            <div class="field item form-group">
                                <label class="col-form-label col-md-3 col-sm-3  label-align">Student Phone Number<span
                                        class="required">*</span></label>
                                <div class="col-md-6 col-sm-6">
                                    <input class="form-control" type="tel" value="{{obj.sd_phone}}" class='tel'
                                        name="sd_phone" required='required' data-validate-length-range="8,20" />
                                </div>
                            </div>

                            <div class="field item form-group">
                                <label class="col-form-label col-md-3 col-sm-3  label-align">Parent name<span
                                        class="required">*</span></label>
                                <div class="col-md-6 col-sm-6">
                                    <input class="form-control" value="{{ obj.sd_parent }}"
                                        data-validate-length-range="6" data-validate-words="2" id="parent_name"
                                        name="sd_parent" required="required" />
                                </div>
                            </div>

                            <div class="field item form-group">
                                <label class="col-form-label col-md-3 col-sm-3  label-align">Parent Phone Number<span
                                        class="required">*</span></label>
                                <div class="col-md-6 col-sm-6">
                                    <input class="form-control" id="parent_phone" type="tel" class='tel'
                                        name="sd_parent_phone" value="{{ obj.sd_parent_phone }}" required='required'
                                        data-validate-length-range="8,20" />
                                </div>
                            </div>


                            <div class="field item form-group">

                                <label class="col-form-label col-md-3 col-sm-3 label-align ">Guardian</label>
                                <div class="col-md-6 col-sm-6">
                                    <input type="button" class="btn btn-success" onclick="fill_guardian()"
                                        value="Parent"></input>
                                    <button class="btn btn-success" onclick="clear_()">Others</button>
                                </div>

                            </div>



                            <div class="field item form-group">
                                <label class="col-form-label col-md-3 col-sm-3  label-align">Guardian name<span
                                        class="required">*</span></label>
                                <div class="col-md-6 col-sm-6">
                                    <input class="form-control" id="guardian_name" data-validate-length-range="6"
                                        data-validate-words="2" value="{{ obj.sd_guardian }}" name="sd_guardian"
                                        required="required" />
                                </div>
                            </div>

                            <div class="field item form-group">
                                <label class="col-form-label col-md-3 col-sm-3  label-align">Guardian Phone Number<span
                                        class="required">*</span></label>
                                <div class="col-md-6 col-sm-6">
                                    <input class="form-control" id="guardian_phone" type="tel" class='tel'
                                        name="sd_guardian_phone" value="{{ obj.sd_guardian_phone }}" required='required'
                                        data-validate-length-range="8,20" />
                                </div>
                            </div>




                            <div class="field item form-group">
                                <label class="col-form-label col-md-3 col-sm-3  label-align">Room Number <span
                                        class="required">*</span></label>
                                <div class="col-md-6 col-sm-6">
                                    <input class="form-control" value="{{ obj.sd_room_no }}" type="number"
                                        class='number' name="sd_room_no" data-validate-minmax="10,500"
                                        required='required'>
                                </div>
                            </div>




                            <div class="field item form-group">
                                <label class="col-form-label col-md-3 col-sm-3  label-align">Password<span
                                        class="required">*</span></label>
                                <div class="col-md-6 col-sm-6">
                                    <input class="form-control" type="password" value="{{ obj.sd_password }}"
                                        id="password1" name="sd_password" required />
                                </div>
                            </div>


                            <div class="field item form-group">
                                <label class="col-form-label col-md-3 col-sm-3  label-align">Address<span
                                        class="required">*</span></label>
                                <div class="col-md-6 col-sm-6">
                                    <textarea style="width: 500px; height: 89px;" required="required"
                                        name='sd_address'>{{obj.sd_address}}</textarea>
                                </div>
                            </div>
                            <div class="ln_solid">
                                <div class="form-group">
                                    <div class="col-md-6 offset-md-3">
                                        <button type='submit' class="btn btn-primary">Submit</button>
                                        <button type='reset' class="btn btn-success">Reset</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ form.error }}
    {{ form.non_field_errors }}
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="{% static 'admin_static/vendors/validator/multifield.js' %}"></script>
<script src="{%  static 'admin_static/vendors/validator/validator.js'%}"></script>

<!-- Javascript functions	-->
<script>
    function hideshow() {
        var password = document.getElementById("password1");
        var slash = document.getElementById("slash");
        var eye = document.getElementById("eye");

        if (password.type === 'password') {
            password.type = "text";
            slash.style.display = "block";
            eye.style.display = "none";
        }
        else {
            password.type = "password";
            slash.style.display = "none";
            eye.style.display = "block";
        }

    }
</script>

<script>
    // initialize a validator instance from the "FormValidator" constructor.
    // A "<form>" element is optionally passed as an argument, but is not a must
    var validator = new FormValidator({
        "events": ['blur', 'input', 'change']
    }, document.forms[0]);
    // on form "submit" event
    document.forms[0].onsubmit = function (e) {
        var submit = true,
            validatorResult = validator.checkAll(this);
        console.log(validatorResult);
        return !!validatorResult.valid;
    };
    // on form "reset" event
    document.forms[0].onreset = function (e) {
        validator.reset();
    };
    // stuff related ONLY for this demo page:
    $('.toggleValidationTooltips').change(function () {
        validator.settings.alerts = !this.checked;
        if (this.checked)
            $('form .alert').remove();
    }).prop('checked', false);

</script>


<script>
    function fill_guardian() {
        document.getElementById('guardian_name').value = document.getElementById('parent_name').value;
        document.getElementById('guardian_phone').value = document.getElementById('parent_phone').value;
        return true;
    }
    function clear_() {
        document.getElementById('guardian_name').value = "";
        document.getElementById('guardian_phone').value = "";
        return true;
    }
</script>


{% endblock %}