{% extends 'admin_templates/index.html' %}

{% block content %}



<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Profile</h3>
      </div>

      <div class="title_right">
        <div class="col-md-5 col-sm-5   form-group pull-right top_search">
          <div class="input-group">
            <input type="text" id="search" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
              <button class="btn btn-default" onclick="find(document.getElementById('search').value);"
                type="button">Go!</button>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12  ">
        <div class="x_panel">
          <div class="x_title">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
              <li class="breadcrumb-item"><a href="{% url 'warden' %}">Warden</a></li>
              <li class="breadcrumb-item active" aria-current="page">User Profile</li>
            </ol>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">

          <div class="container">
            <div class="main-body">


              <div class="row gutters-sm">
                <div class="col-md-4 mb-3">
                  <div class="card">
                    <div class="card-body">
                      <div class="d-flex flex-column align-items-center text-center">
                        <img src="{{media_url}}/{{ user.pic }}" alt="Admin" class="rounded-circle" width="150">
                        <div class="mt-3">
                          <h4>
                            {% if user.is_main %}
                            Main Admin
                            {% else %}
                            Warden
                            {% endif %}
                          </h4>
                          <p class="text-secondary mb-1">
                            Incharge:{{ user.incharge }}</p>
                          <p class="text-muted font-size-sm">{{ user.address }}</p>

                          <button class="btn btn-outline-dark">Edit Profile</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card mt-3">
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="card mb-3">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Full Name</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          {{ user.name }}
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Email</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          {{ user.email }}
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Phone</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          {{ user.phone }}
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Incharge</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          {{ user.incharge }}
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Address</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          {{ user.address }}
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Account Status</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          {% if user.status %}
                          Active
                          {% else %}
                          Deactivated
                          {% endif %}
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}