{% extends 'admin_templates/index.html' %}
{% load static %}
{% block content %}

<link href="{% static 'admin_static/vendors/switchery/dist/switchery.min.css' %}" rel="stylesheet">
<script src="{% static 'admin_static/vendors/switchery/dist/switchery.min.js' %}"></script>

    {% if err %}
        <script>alert("failed to save");</script>
    {% endif %}
    {% if success %}
        <script>alert("successfully updated");</script>
    {% endif %}
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Profile</h3>
      </div>

      <div class="title_right">
        <div class="col-md-5 col-sm-5   form-group pull-right top_search">
          <div class="input-group">
            <input type="text" id="search" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
              <button class="btn btn-default" onclick="find(document.getElementById('search').value);"
                type="button">Go!</button>
            </span>
          </div>
        </div>
      </div>
    </div>


      <div id="profile" class="modal fade" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Edit Profile</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

              </div>
              <div class="modal-body">
                <form method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="field item form-group">
                    <label class="col-form-label label-align">Name<span class="required">*</span></label>
                    <input class="form-control" style="margin-left: 20px;" type="text" name="name" required=""
                      data-toggle="tooltip" data-placement="right" title="Enter name" value="{{ user.name }}">
                  </div>
                    <div class="field item form-group">
                    <label class="col-form-label label-align">Picture<span class="required">*</span></label>
                    <input class="form-control" style="margin-left: 20px;" type="file" name="pic"
                      data-toggle="tooltip" data-placement="right" title="Please upload square size image" >
                  </div>
                  <div class="field item form-group">
                    <label class="col-form-label label-align">Address<span class="required">*</span></label>
                    <input class="form-control" style="margin-left: 8px;" type="text" name="address" required=""
                      data-toggle="tooltip" data-placement="right" title="Enter address" value="{{ user.address }}">
                  </div>
                  <div class="field item form-group">
                    <label class="col-form-label label-align">Email<span class="required">*</span></label>
                    <input class="form-control" style="margin-left: 23px;" type="email" name="email" required=""
                      data-toggle="tooltip" data-placement="right" title="Enter a valid email" value="{{ user.email }}">
                  </div>
                  <div class="field item form-group">
                    <label class="col-form-label label-align">Phone<span class="required">*</span></label>
                    <input class="form-control" style="margin-left: 16px;" type="text" name="phone" required=""
                      data-toggle="tooltip" data-placement="right" title="Enter phone number" value="{{ user.phone }}" >
                  </div>
                  <div class="field item form-group">
                    <label class="col-form-label label-align">Incharge<span class="required">*</span></label>
                    <input class="form-control" style="margin-left: 3px;" type="text" name="incharge" required=""
                      data-toggle="tooltip" data-placement="right" title="Enter department" value="{{ user.incharge }}" >
                  </div>
                  <div class="field item form-group">
                    <label class="col-form-label label-align" style="margin-right: 16px">Status<span
                        class="required">*</span></label>
                    <input class="form-control js-switch " type="checkbox" name="status" disabled="disabled" checked="checked">
                  </div>
                  <div class="field item form-group">
                    <label class="col-form-label label-align">Password<span class="required">*</span></label>
                    <input class="form-control" type="text" name="password" required=""
                      data-toggle="tooltip" data-placement="right" title="Change password">
                  </div>
                  <div class="field item form-group">
                    <button type="submit" style="margin-left: 138px" class="btn btn-outline-success">Submit</button>
                    <button type="reset" class="btn btn-outline-danger">Reset</button>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>

    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12  ">
        <div class="x_panel">
          <div class="x_title">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
              <li class="breadcrumb-item"><a href="{% url 'warden' %}">Warden</a></li>
              <li class="breadcrumb-item active" aria-current="page">User Profile</li>
            </ol>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">

          <div class="container">
            <div class="main-body">


              <div class="row gutters-sm">
                <div class="col-md-4 mb-3">
                  <div class="card">
                    <div class="card-body">
                      <div class="d-flex flex-column align-items-center text-center">
                        <img src="{{media_url}}/{{ user.pic }}" alt="Admin" class="rounded-circle" width="150">
                        <div class="mt-3">
                          <h4>
                            {% if user.is_main %}
                            Main Admin
                            {% else %}
                            Warden
                            {% endif %}
                          </h4>
                          <p class="text-secondary mb-1">
                            Incharge:{{ user.incharge }}</p>
                          <p class="text-muted font-size-sm">{{ user.address }}</p>

                          <button class="btn  btn-outline-dark" data-toggle="modal" data-target="#profile"><i class="fa fa-edit"></i>Edit Profile</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card mt-3">
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="card mb-3">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Full Name</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          {{ user.name }}
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Email</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          {{ user.email }}
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Phone</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          {{ user.phone }}
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Incharge</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          {{ user.incharge }}
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Address</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          {{ user.address }}
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Account Status</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          {% if user.status %}
                          Active
                          {% else %}
                          Deactivated
                          {% endif %}
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}