{% extends 'admin_templates/index.html' %}
{% load static %}
{% block content %}

    <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Warden Details</h3>
                  {% if edit %}
                  <button class="btn btn-outline-success" onclick="add_warden();">Add Warden</button>
                  {% endif %}
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5  form-group pull-right top_search">
                  <div class="input-group">
                    <input type="search" id="search" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" onclick="find(document.getElementById('search').value);" type="button">Go!</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
                <div class="x_panel">
                  <div class="x_content">
                      <div class="clearfix"></div>

                      <div class="col-md-12 col-sm-12  text-center">
                        <ul class="pagination pagination-split">
                        </ul>
                      </div>

                  {% for i in obj %}

                      <div class="col-md-4 col-sm-4  profile_details">
                        <div class="well profile_view">
                          <div class="col-sm-12">
                            <h4 class="brief">
                            <i>
                            {% if i.is_main  %}
                                Main Warden
                            {% else %}
                                Warden
                            {% endif %}
                            </i>
                            </h4>

                            <div class="left col-md-7 col-sm-7">
                              <h2>{{ i.name }}</h2>
                              <p><strong>Incharge: </strong>{{ i.incharge }}</p>
                              <ul class="list-unstyled">
                                <li><i class="fa fa-building"></i> Address: {{ i.address }}</li>
                                <li><i class="fa fa-phone"></i> Phone #: {{ i.phone }}</li>
                                  <li><i class="fa fa-spinner"></i> Acc. Status:
                                    {% if i.status %}
                                      <i class="fa fa-check-circle-o"></i>Active
                                    {% else %}
                                        <i class="fa fa-ban"></i>Disabled
                                    {% endif %}
                                  </li>
                              </ul>
                            </div>
                            <div class="right col-md-5 col-sm-5 text-center">
                              <img src="{% static 'admin_static/index/images/img.jpg' %}" alt="" class="img-circle img-fluid">
                            </div>
                          </div>
                          <div class=" profile-bottom text-center">
                            {% if edit %}
                            <div class=" col-sm-6 emphasis">
                              <button type="button" class="btn btn-success btn-sm" {% if i.is_main %} disabled {% endif %}>
                                  <i class="fa fa-user" >Deactivate User</i>
                              </button>
                              <button type="button" class="btn btn-danger btn-sm" {% if i.is_main %} disabled {% endif %}>
                                <i class="fa fa-user"> </i> Delete User
                              </button>
                              {% endif %}
                            </div>
                          </div>
                        </div>
                      </div>
                    {% endfor %}

                  </div>
                </div>
            </div>
          </div>
        </div>
    <script>
    function  add_warden(){


    }

    </script>
{% endblock %}